%form#ticket_purchase
  %input{ :type => "float", :name => "ticket_type", :id => "ticket_type", :value => "Enter Price..."}
  %input{ :type => "number", :name => "seat_num", :id => "seat_num", :value => "#{@ticket.id}"}
  %button Send