/*table, th, td {
border: 1px solid;
}*/
body {
/*  background-color:#B22222;*/
  background-repeat: repeat-x;
  padding-top:50px;
}
.seat{
  height:40px;
  width: 40px;
  float:left;
  margin:10px;
  border: 2px solid;
}
.open {
  background-color: blue;
}
.taken {
  background-color: red;
}
.theater {
  height: 500px;
  width:300px;
  margin:auto;
}

.screen {
  width:300px;
  height:20px;
  background-color: black;
  color:white;
}
h1 {
  background:#111;
  color:#fff;
  font-size:24px;
  height:50px;
  line-height:50px;
  padding:0 20px;
  position:absolute;
  top:0;
  width:100%;
  margin:0;
  z-index:1;
}
/*.seats{
  width:250px;
  height:100%;
  margin:0 auto;
}

.content{
  height:200px;
  width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: red;
  color:white;
  display:block;
}
*/